body {
    margin: 2rem 2rem;
}

.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.btn {
    margin: 4px;
    padding: 4px 8px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border: 0px;
}

.btn-add {
    padding: 8px 16px;
    background-color: green;
}

.btn-delete {
    background-color: red;
}

.record-table {
    margin: 2em 0px;
}

.error {
    border-radius: 2px;
    max-width: 360px;
    background-color: #ddd;
}

.try {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    padding: 0 2px;
}

.try:hover {
    text-decoration: none;
    background-color: gray;
    color: #fff;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
}